@charset "utf-8"
/* CSS Document */

span {color: rgb(255, 0, 255);}
.pozadina {
	background-image: url("slikee/NEBO MEJL MEJL converted mini.jpg");
	background-color: darkcyan;
}

.pozadina2 {
	background-image: url("slikee/NEBO MEJL MEJL converted mini.jpg");
	background-color: darkgray;
}

.pozadina3 {
	background-color: darkblue;
	background-image: url("slikee/NEBO MEJL MEJL converted mini.jpg");
}

.pozadina4 {
	background-color: lightseagreen;
	background-image: url("slikee/NEBO MEJL MEJL converted mini.jpg");
}


p{
	color:black;
	font-family: serif;
	font-size: 25px;
	line-height: 18px;
}

h1{
	color:purple;
	font-family: !important;
	font-size: 35px;

.navigacijska_lista{
	li {
		color: rgb(0, 0, 255);
		font-size: 30px;
		background-color: rgba(170, 255, 255, 0.5);
		padding:15px;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		display: inline;
	}
	a:hover{
		background color: darkgray;
	}
	a:link{
		text-decoration: none;
	}




	p {
		color: rgb(81, 0, 128);
		font-family: 'Gills Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 22px;
		line-height: 18px;
		width: 600px;
		background-color: rgba(206, 185, 226, 0.452);
		padding: 20px;
		border: 2px rgb(82, 44, 97) dashed;
		margin-left: 20px;
		box-shadow: 4px 4px 4px rgba(70, 36, 70, 0.473);
	}

	h1, h2{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		color: rgb(211, 187, 241);
		margin-left: 10px;
	}

	a:link {
		color rgb(54, 12, 65);
		background-color: rgb(166, 139, 197);
		padding: 5px;
		line-height: 40px;
		border: solid 2px rgb(99, 30, 99);
		font-family: 'Gill Sans', 'Gill sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 30px;
		box-shadow: 2px 2px 2px rgba(70, 36, 70, 0.473);
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 9%;
	}




